
@{
    ViewBag.Title = "AgentHome";
}
<p class="pagesubheader">Agent Menu</p>


<p>@Html.ActionLink("Shipping Schedules", "Index", "Schedules", null, new { @class = "btn btn-primary btn-large" }) </p>
<p>@Html.ActionLink("Shipment Overview", "Index", "Shipments", null, new { @class = "btn btn-primary btn-large" })</p>
<p>@Html.ActionLink("Customer Overview", "Index", "Customers", null, new { @class = "btn btn-primary btn-large" })</p>
