@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <p class="page-header text-center">WELCOME TO MAERSK</p>
    <div class="container-fluid text-center color-segment">
        <p class="pagesubheader">Welcome</p>
        @Html.Partial("_LoginPartial")
        @*@Html.ActionLink("Sign In", "SignIn", "Account", null, new { @class = "btn btn-primary btn-large" })*@
    </div>

    
</div>
