@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron vertical-center">
    <p class="page-header">WELCOME TO MAERSK</p>
    <div  class="container-fluid text-center color-segment">
        <p class="pagesubheader">Who are you?</p>
        @Html.ActionLink("I am a Maersk Employee", "MaerskHome", "Home", null, new { @class = "btn btn-primary btn-large" })
        @Html.ActionLink("I am an agent", "AgentHome", "Home", null, new { @class = "btn btn-primary btn-large" })
    </div>



</div>
