@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <p class="page-header text-center">WELCOME TO MAERSK</p>
    <div class="container-fluid text-center color-segment">
        <p class="pagesubheader">Ship with us!</p>
        @Html.ActionLink("Sign In", "SignIn", "Account", null, new { @class = "btn btn-primary btn-large" })
    
                   </div>
    <div class="container-fluid text-center color-segment" style="color:white" >
        <h2>What do we offer?</h2>
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <h3>Our Containers</h3>
                <img src="" class="img-circle img-responsive" alt="">url(../Images/container.jpg)</img>
                <p>Are the best around! It is impressive and always on time.</p>
            </div>
            <div class="col-md-2">
                <h3>Our Ships</h3>
                <img src="" class="img-circle img-responsive" alt="">url(../Images/ship.jpg)</img>
                <p>Have huge loads. They can take your shipments where they need to go.</p>
            </div>
            <div class="col-md-2">
                <h3>Our Yards</h3>
                <img src="" class="img-circle img-responsive" alt="">url(../Images/yard.jpg)</img>
                <p>Are large enough! We can contain your items in our yards for a minimal price!</p>
            </div>

        </div>

    </div>
