@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO MAERSK</h1>
 @Html.ActionLink("MAERSK Login", "MaerskHome", "Home", null, new { @class = "btn btn-primary btn-large" })
 @Html.ActionLink("Agent Login", "AgentHome", "Home", null, new { @class = "btn btn-primary btn-large" })


</div>
