@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <p class="page-header text-center">WELCOME TO MAERSK</p>
    <div class="container-fluid text-center color-segment">
        <p class="pagesubheader">Ship with us!</p>
        @Html.ActionLink("Sign In", "SignIn", "Account", null, new { @class = "btn btn-primary btn-large" })
    
                   </div>
    <div class="container-fluid text-center color-segment">
        <h2>What have I done?</h2>
        <p>Some cool projects, others not so cool..</p>
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <h3>Project 1</h3>
                <img src="" class="img-circle img-responsive" alt=""></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-2">
                <h3>Project 2</h3>
                <img src="" class="img-circle img-responsive" alt=""></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-2">
                <h3>Project 3</h3>
                <img src="" class="img-circle img-responsive" alt=""></img>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

        </div>

    </div>
