
@{
    ViewBag.Title = "MaerskHome";
}

<p class="page-header">Maersk Employee Menu</p>


<p>@Html.ActionLink("Shipping Schedules", "Index", "Schedules", null, new { @class = "btn btn-primary btn-large" }) </p>
<p>@Html.ActionLink("Yards Overview", "Index", "Yards", null, new { @class = "btn btn-primary btn-large" })</p>
<p>@Html.ActionLink("Shipment Overview", "Index", "Shipments", null, new { @class = "btn btn-primary btn-large" })</p>

